<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="C:\Users\Farook\OneDrive\Desktop\mock-interview-project\static\css\style.css">
        <title>login</title>
    
    </head>
<body>
    <h1>Login</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <form action="C:\Users\Farook\OneDrive\Desktop\mock-interview-project\templates\login.html" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" name="password" required><br><br>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="C:\Users\Farook\OneDrive\Desktop\mock-interview-project\templates\register.html">Register here</a></p>
</body>
</html>
